.recommendedVideos{
    flex: 1;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    padding-bottom: 0;
}
.recommendedVideos > h2{
    margin-left: 5px;
    margin-bottom: 20px;
}
.recommendedVideos_video{
    display: flex;
    flex-wrap: wrap;
}